# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual env
.venv/
venv/
env/

# Git
.git
.gitignore

# Docker
Dockerfile
docker-compose.yml

# Environment
.env

# OS
.DS_Store

# Logs
*.log

# Node (на всяк випадок)
node_modules/