# Python cache
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
venv/
.env/
.env.*
.venv/

# Django stuff
*.log
db.sqlite3

# Git
.git
.gitignore

# Docker
.dockerignore

# Terraform (не треба в образі)
*.tfstate
*.tfstate.*
.terraform/
modules/
charts/

# IDE / OS
.vscode/
.idea/
.DS_Store

# Node (якщо раптом зʼявиться)
node_modules/

# Tests / coverage
.coverage
htmlcov/
pytest_cache/

# Docs
README.md